@model MvcUI.Models.Membership.Profile

@section Links
{
    @Styles.Render("~/Content/home/css")
}
@section scripts
{
    @Scripts.Render("~/Content/admin/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}


@{
    ViewBag.Title = "Home";
}



<div id="Wall">
    <div id="Info">
        <div id="Results">
            <a>Resutts</a>
        </div>
        <div id="user-info">
            <div id="user-info-names">
                <a class="first-name">@Model.FirstName</a>
                <a class="second-name">@Model.SecondName</a>
            </div>
            <div id="user-info-avatar">
                <img class="Avatar" src="@Url.Action("GetAvatar", "Options")" />
            </div>
            <div id="user-info-additional">
                @if (Model.Birthday.HasValue)
                {
                    <a class="birthday">@Model.Birthday.Value.ToString("dd.MM.yyyy")</a>
                }
            </div>
        </div>
    </div>
    <div id="Messages">
        <a>Messages</a>
    </div>
</div>



